/* General body styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Style for both sidebars */
.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #f0f0f5; /* Fond de la sidebar distinct du fond blanc */
  padding: 8px; /* Ajout d'un peu de padding autour pour l'aération */
}

/* Style for the central content */
#main {
  margin-left: 270px; /* Offset to account for the left sidebar */
  margin-right: 398px; /* Offset to account for the right sidebar */
  padding: 20px;
  background-color: #ffffff;
}

/* Tabset panel styling */
#main .tab-content {
  margin-top: 8px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#mainPlot {
  position: relative;
  width: 100%;
  padding-bottom: 66.66%; /* 2:3 aspect ratio (height/width = 3/2) */
  height: 0; /* Height is controlled by padding-bottom */
}
#mainPlot > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Conteneur des onglets */
#main .nav-tabs {
  border: none;
  padding: 0;
}

/* Styles communs aux liens d'onglets */
#main .nav-tabs li a {
  display: block;
  padding: 10px 20px;
  background-color: #f9f9f9;
  color: #333;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #ddd;
  margin: 0;
}

/* Onglet actif (sélectionné) */
#main .nav-tabs li.active a {
  background-color: #1976d2;
  color: #ffffff;
  border-color: #1976d2;
}

/* Effet au survol des onglets */
#main .nav-tabs li a:hover {
  background-color: #e3f2fd;
  color: #1976d2;
  border-bottom: inherit;
}

/* Suppression des marges et des styles de liste */
#main .nav-tabs li {
  list-style: none;
  margin: 0;
}

/* Optionnel : pour une apparence de bascule plus marquée */
#main .nav-tabs li:first-child a {
  border-radius: 8px 0 0 8px;
}

#main .nav-tabs li:last-child a {
  border-radius: 0 8px 8px 0;
}

