/* General body styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Style for both sidebars */
.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #f0f0f5; /* Fond de la sidebar distinct du fond blanc */
  padding: 8px; /* Ajout d'un peu de padding autour pour l'aération */
}

/* Style for the central content */
#main {
  margin-left: 256px; /* Offset to account for the left sidebar */
  margin-right: 400px; /* Offset to account for the right sidebar */
  padding: 20px;
  background-color: #ffffff;
}

/* Tabset panel styling */
.tab-content {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

#mainPlot {
  position: relative;
  width: 100%;
  padding-bottom: 66.66%; /* 2:3 aspect ratio (height/width = 3/2) */
  height: 0; /* Height is controlled by padding-bottom */
}
#mainPlot > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

