/* Conteneur principal de la sidebar */
#layers_bar {
  left: 0;
  justify-content: flex-start;
  width: 256px;
  border-right: 1px solid #d0d0d5;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Conteneur des calques */
#layers_bar .rank-list-container {
  flex-grow: 1;
  border: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  width: 100%;
}

/* Liste des calques */
#layers_bar .rank-list {
  margin: 0;
}

/* Élément de la liste des calques */
.layer-item {
  height: 56px; /* Hauteur légèrement réduite pour affiner */
  margin: 8px 0 0 0; /* Ajout de marges autour des éléments */
  background-color: #f9f9f9;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  transition: background-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
  width: calc(100% - 8px); /* Réduction de la largeur pour respecter les marges */
}

.layer-item img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.layer-item span {
  font-size: 16px;
  color: #333;
}

/* Effet au survol des éléments */
.layer-item:hover {
  background-color: #e3f2fd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Élément non-déplaçable (ajout de calque, options globales) */
.layer-item.non-drag {
  opacity: 0.8;
  cursor: default;
  width: 100%; /* Réduction de la largeur pour respecter les marges */
}

/* Élément de la liste des calques sélectionné */
.layer-item.selected {
  width: 100%; /* Largeur complète lorsqu'un élément est sélectionné */
  background-color: #bbdefb; /* Accentuation bleu clair pour indiquer la sélection */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour donner de la profondeur à la sélection */
  border-left: 4px solid #1976d2; /* Petite bordure accentuée à gauche pour indiquer la sélection */
}

/* Effet au survol des éléments sélectionnés (optionnel) */
.layer-item.selected:hover {
  background-color: #90caf9; /* Accentuation légèrement plus forte au survol */
}


#add-layer {
  height: 56px; /* Hauteur ajustée pour être cohérente avec les autres éléments */
  background-color: #1976d2;
  color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#add-layer:hover {
  background-color: #1565c0;
}

/* Gestion de la visibilité pour les boîtes d'information */
#info-box-layer.visible {
  display: block;
  padding: 16px;
  font-size: 14px;
  color: #757575;
}

#info-box-layer.invisible {
  display: none;
}

/* Gestion de la visibilité pour le conteneur sortable */
#rank-list-sortable_layer.invisible {
  visibility: hidden;
}

#rank-list-sortable_layer.visible {
  visibility: visible;
}
